.home-container {
    padding: 2rem;
    text-align: center;
}

.home-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
}

.metaverse-title-header {
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    background-color: rgba(26, 136, 99, 0.8);
    color: white;
    padding: 10px 0;
}

.metaverse-divider {
    height: 20px;
    width: 1px;
    background-color: white;
    margin: 10px 0;
}

.metaverse-divider.black {
    background-color: black;
}

.metaverse-data {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-top: none;
    padding: 10px 0;
    cursor: pointer;
}

.metaverse-data:last-child {
    border-radius: 0 0 10px 10px;
}